# Ignore limiting_envs directory
/limiting_envs/*.json

# Ignore data directory
/data/*.json

# Ignore figures directory
/figures/betas/*
/figures/etas/*
/figures/lambdas/*
/figures/nus/*
/figures/n_samples/*
/figures/additional_diagnostics/*

#ignore __pycache__
/src/__pycache__/*
/src/envs/__pycache__/*
/src/agents/__pycache__/*
/src/policies/__pycache__/*